*.jpg
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_NCNN/build/*
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_SNPE/build/*
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_SNPE/test_image_845/*
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_SNPE/test_image_845
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_SNPE/test_image_x64/*
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_SNPE/test_image_x64
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_NCNN/test_img_845/*
/home/cvte-vm/Deep_Feature_Extract/pytorch-superpoint/implementation/superpoint_NCNN/test_img_pc/*
test_result.ods
coco_manual_l2.dlc
coco_manual_l2.onnx
coco_manual_l2_sim.onnx
coco_manuall2_unshaped_prob.onnx
coco_manuall2_unshaped_prob_sim.dlc
coco_manuall2_unshaped_prob_sim.onnx
