*.jpg
./superpoint_NCNN/build/*
./superpoint_SNPE/build/*
./superpoint_SNPE/test_image_845/*
./superpoint_SNPE/test_image_845
./superpoint_SNPE/test_image_x64/*
./superpoint_SNPE/test_image_x64
./superpoint_NCNN/test_img_845/*
./superpoint_NCNN/test_img_pc/*
build/*
test_result.ods
coco_manual_l2.dlc
coco_manual_l2.onnx
coco_manual_l2_sim.onnx
coco_manuall2_unshaped_prob.onnx
coco_manuall2_unshaped_prob_sim.dlc
coco_manuall2_unshaped_prob_sim.onnx
